<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{page_id.name}}</h1>
    <img class="rounded mb-4" src="{{page_id.image}}" alt="Card image cap" style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <p class="text-secondary mb-1">
        <strong> Rate : </strong>
        {{page_id.rating}}
      </p>
      <p>
        {{page_id.description}}
      </p>
    </div>
  </div>
</div>